header.desktop {

	background-color: #000000;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid #c72324;
    overflow: hidden;
    padding-bottom: 10px;

	h1 {
		background: url("../img/logo-ferrari.png") no-repeat;
	    text-indent: -9999px;
	    width: 15%;
	    height: 105px;
	    float: left;
	    background-size: contain;
	    margin-left: 1%;
	    cursor: pointer;
	}
	nav {
	    float: left;
	    width: 60%;
	    font-family: 'Oswald', sans-serif;
	    margin-top: 4%;

	    ul.menu {

	    	li {
	    		display: inline-table;
    			list-style: none;
    			margin-right: 3%;

    			a {
				    text-decoration: none;
				    color: #fff;
				    text-transform: uppercase;
				}

				a:hover {
					color: #c72324;
				}
	    	}
	    }
	}
	.atendimento {
		background: url("../img/telefone-icon.png") no-repeat;
	    background-size: contain;
	    padding-left: 67px;
	    float: left;
	    width: 17%;
	    font-family: 'Oswald', sans-serif;
	    margin-top: 2%;

	    h2 {
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 14px;
		}

		p {
		    color: #c72324;
		    font-size: 28px;
		}
	}
}
.mobile {

	display: none;

	menu {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    width: 220px;
	    height: 100%;
	    padding-top: 10px;
	    background: #c72324;
	    box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
	}

	menu li a {
	    display: block;
	    border-bottom: 1px solid rgba(255,255,255,.3);
	    margin: 0 10px;
	    padding: 10px;
	    color: #FFF;
	    text-decoration: none;
	}

	menu li a:hover {
	    background: #FFF;
	    color: #c72324;
	}

	h1 {
		background: url("../img/logo-ferrari.png") no-repeat;
	    text-indent: -9999px;
	    width: 15%;
	    height: 105px;
	    background-size: contain;
	    margin-left: 1%;
	    cursor: pointer;
	    display: inline-block;
	    margin-left: 36%;
	}

	header {
	    background: #000000;
	    padding: 13px;
	    overflow: hidden;
	}
	/*
	    Aqui você esconde o menu para fora da tela 
	    O valor é exatamente a largura da sidebar
	*/
	menu {
	    -webkit-transform: translateX(-220px);
	    -moz-transform: translateX(-220px);
	    -ms-transform: translateX(-220px);
	    transform: translateX(-220px);
	    -webkit-transition: all .25s linear;
	    -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	    transition: all .25s linear;
	}
	/*
	    Essa é a posição original do HEADER e do MAIN
	*/
	header, .main {
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .25s linear;
	    -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	    transition: all .25s linear;
	}

	.main {
	    padding: 30px;
	}
	.main p {
	    font-size: .9em;
	    line-height: 1.2em;
	    margin-bottom: 20px;
	}

	.menu-anchor {
	    width: 40px;
	    height: 32px;
	    display: inline-block;
	    vertical-align: middle;
	    position: relative;
	    text-indent: -9999px;
	    overflow: hidden;
	    cursor: pointer;
	    background: #000;
	}

	.menu-anchor:before {
	    content: "";
	    display: block;
	    margin: 7px auto;
	    width: 70%;
	    height: 0.25em;
	    background: #e1d32b;
	    box-shadow: 0 .45em 0 0 #e1d32b, 0 .9em 0 0 #e1d32b;
	}

	.menu-active .menu-anchor {background: #d55401}

}